<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue 3 Basics</title>

        <style>
            .box{
                background-color: cyan;
                height: 200px;
                width: 200px;
            }

            [v-cloak] {
                display: none;
            }
        </style>
    </head>

    <body>
        <div id="app" v-cloak>{{ message }}
            <input @keyup.enter="greet(message)" v-model="message" />

            <hr />

            <button @click="toggleBox">Toggle Box</button>
            <div v-if="isVisible" class="box"></div>

        </div>
    </body>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    isVisible: false
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible  
                },
                greet(message) {
                    console.log(message)
                }
            }
        }).mount('#app')
    </script>
</html>

<!-- without build tools -->

<!-- basics of events and methods in Vue Js: 
    where the events like button clicked is performed 
    and, two of the methods, toggleBox() and greet() are called. 
-->
